@charset "utf-8";

body {
	font-family: "microsoft yahei","微软雅黑";
	font-size: 14px;
}
/*background-color: rgba(0,0,0,0.75);*/
.navtop {
	background-color: #1F2532;
	color: #fafafa;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
	height: 72px;
}

.logo-nav {
	padding-top: 28px;
	padding-right: 200px;
}

.navtop a {
	color: #fff;
}

.topnav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	float: left;
	margin: 0;
	/*display: inline;*/
	font-size: 14px;
}

.topnav>ul {
	margin-left: 20px;
	position: relative;
	/*display: block;*/
	list-style: none;
	display: list-item;
}

.topnav>li {
	cursor: pointer;
	display: inline;
}

.topnav>li>a {
	z-index: 999;
	cursor: pointer;
	padding: 0 15px;
	height: 72px;
	line-height: 72px;
	position: relative;
	color: #81848c;
	display: inline-block;
	list-style: none;
	margin: auto;
	text-align: center;
	text-decoration: none;
	/*index_05.png*/
/*background-attachment: fixed;*/
}

.topnav>li>a:hover {
	color: #fff;
	border-bottom: 4px solid #0190fe;
}
.navright a {
	height: 72px;
	line-height: 72px;
	color: #81848c;
	padding: 0 18px;
	text-decoration: none;
}
.navright .register-btn {
	display: inline-block;
	width: 90px;
	height: 38px;
	line-height: 38px;
	margin: 0 18px;
	border: 1px solid #979797;
	border-radius: 3px;
	text-align: center;
}
.navright a:hover {
	color: #fff;
}
.navright .register-btn:hover {
	border: 1px solid #0190fe;
}
.topnav>li>a {
}
